html {font-size:100.01%;}

body { 
  font-size:85%;
  font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #333;
}

h1 {
 font-size: 6em;
 line-height: 1;
}

em {
 font-style: italic;
}

#header {
 vertical-align: bottom;
 margin-bottom: 2em;
}

#header h1 {
 font-size: 1.5em;
 font-style: italic;
 color: brown;
}

div#main, div#logo {
 text-align: center;
 margin-left: 20px;
}

div#databases {
 text-align: left;
 
}

h1#word {
 margin-bottom: 20px;
 padding-top: 320px;
 background: url(/media/drbrown2.gif) white 0 0 no-repeat;
 height: 443px;
 width:639px;
}

div#left-col {
 position: absolute;
 width: 300px;
 z-index: 3;
}

div#right-col {
 margin-left: 150px;
 float: right;
 position: absolute;
 z-index: 2;
}